.container {
  --card-width: 20rem;
  width: 70rem;
  min-width: var(--card-width);

  @media (max-width: 80rem) {
    width: 90%;
  }

  @media (max-width: 40rem) {
    width: 95%;
  }

  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--card-width), 1fr));

    li {
      list-style: none;

      .link-card {
        min-width: var(--card-width);
        height: calc(var(--card-width) / 1.9);
        background-color: hsl(var(--grey-900));
        box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
        cursor: pointer;
        box-sizing: border-box;
      }
    }
  }
}
