.link-card-grid {
  --card-width: 20rem;
  --cols: 3;

  @media (max-width: 63rem) {
    --cols: 2;
  }

  @media (max-width: 42rem) {
    --cols: 1;
  }

  display: grid;
  max-width: calc(4 * var(--card-width));
  grid-template-columns: repeat(var(--cols), minmax(var(--card-width), 1fr));

  .link-card {
    list-style: none;
    min-width: var(--card-width);
    height: calc(var(--card-width) / 1.8);
    background-color: hsl(var(--grey-900));
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
    cursor: pointer;
    box-sizing: border-box;
  }
}
