.container {
  --card-width: 20rem;
  width: 70rem;
  min-width: var(--card-width);

  @media (max-width: 80rem) {
    width: 90%;
  }

  @media (max-width: 40rem) {
    width: 95%;
  }

  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--card-width), 1fr));
  }
}
