---
import Page from "@layouts/Page.astro";
import Typewriter from "@components/Typewriter.astro";
---

<Page title="Adam Smith">
  <div class="relative background">
    <Typewriter>
      <h1>Hi, I'm Adam</h1>
    </Typewriter>
    <div id="html5" class="absolute">
      <img
        id="img-html5"
        src="./html5.png"
        alt="html5 logo"
        height="250"
        width="250"
      />
    </div>
    <div id="css3" class="absolute">
      <img
        id="img-css3"
        src="./css3.png"
        alt="css3 logo"
        height="250"
        width="250"
      />
    </div>
    <div id="typescript" class="absolute">
      <img
        id="img-typescript"
        src="./typescript.png"
        alt="typescript logo"
        height="250"
        width="250"
      />
    </div>
  </div>
</Page>

<style>
  h1 {
    padding-top: 15rem;
    margin: auto;
    font-size: var(--font-size-4xl);
    text-align: center;
    color: hsl(var(--white));
  }
  .background {
    height: calc(100vh - var(--navbar-height));
    width: 100vw;
    background-image: url("./grid.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  img {
    transform: translate(-50%, -50%);
  }
  #html5 {
    top: 20%;
    left: 30%;
  }
  #css3 {
    top: 25%;
    right: 15%;
  }
  #typescript {
    bottom: 5%;
    right: 30%;
  }
</style>

<script defer is:inline>
  const html = document.querySelector("html");
  if (html && html.clientWidth > 500) {
    const html5Img = document.getElementById("img-html5");
    if (html5Img) {
      html5Img.src = "./html5.gif";
    }

    const css3Img = document.getElementById("img-css3");
    if (css3Img) {
      css3Img.src = "./css3.gif";
    }

    const typescriptImg = document.getElementById("img-typescript");
    if (typescriptImg) {
      typescriptImg.src = "./typescript.gif";
    }
  }
</script>
