---
import Page from "@layouts/Page.astro";
import Typewriter from "@components/Typewriter.astro";
---

<Page title="Adam Smith">
  <div id="three-container">
    <Typewriter>
      <h1>Hi, I'm Adam</h1>
    </Typewriter>
  </div>
</Page>

<style>
  h1 {
    font-size: var(--font-size-4xl);
    text-align: center;
    color: hsl(var(--white));
  }
</style>

<script src="./Three/main"></script>
