---
import Page from "@layouts/Page.astro";
import Typewriter from "@components/Typewriter.astro";
---

<Page title="Adam Smith">
  <Typewriter>
    <h1>Hi, I'm Adam</h1>
  </Typewriter>
</Page>

<style>
  h1 {
    font-size: var(--font-size-4xl);
    text-align: center;
    color: hsl(var(--white));
  }
</style>
