---
import Page from "@layouts/Page.astro";
import Typewriter from "@components/Typewriter.astro";
---

<Page title="Adam Smith">
  <link rel="preload" as="image" href="./grid-s.webp" fetchpriority="high" />
  <div class="relative background">
    <Typewriter>
      <h1>Hi, I'm Adam</h1>
    </Typewriter>
    <div id="html5" class="absolute">
      <picture>
        <source srcset="./html5.gif" media="(min-width: 500px)" />
        <img src="./html5.png" alt="html5 logo" height="250" width="250" />
      </picture>
    </div>
    <div id="css3" class="absolute">
      <picture>
        <source srcset="./css3.gif" media="(min-width: 500px)" />
        <img
          id="img-css3"
          src="./css3.png"
          alt="css3 logo"
          height="250"
          width="250"
        />
      </picture>
    </div>
    <div id="typescript" class="absolute">
      <picture>
        <source srcset="./typescript.gif" media="(min-width: 500px)" />
        <img
          id="img-typescript"
          src="./typescript.png"
          alt="typescript logo"
          height="250"
          width="250"
        />
      </picture>
    </div>
  </div>
</Page>

<style>
  h1 {
    padding-top: 15rem;
    margin: auto;
    font-size: var(--font-size-4xl);
    text-align: center;
    color: hsl(var(--white));
  }
  .background {
    height: calc(100vh - var(--navbar-height));
    width: 100%;
    background-image: url("./grid-s.webp");
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-size: cover;
  }
  @media (min-width: 700px) {
    .background {
      background-image: url("./grid.webp");
    }
  }
  #html5 {
    top: 0%;
    left: 20%;
  }
  #css3 {
    top: 7.5%;
    right: 15%;
  }
  #typescript {
    bottom: 10%;
    right: 35%;
  }
  @media (max-width: 700px) {
    #html5 {
      left: 0%;
    }
    #css3 {
      right: 0%;
    }
    #typescript {
      bottom: 20%;
      right: 15%;
    }
  }
</style>
