---
import Page from "@layouts/Page.astro";
import Typewriter from "@components/Typewriter.astro";
---

<Page title="Adam Smith">
  <link rel="preload" as="image" href="./grid-s.webp" fetchpriority="high" />
  <div class="relative background flex-column-center">
    <Typewriter>
      <h1 class="relative">Hi, I'm Adam</h1>
    </Typewriter>
    <h2 class="text-secondary fw-normal">
      I'm a full stack engineer that enjoys making websites and mobile apps<br
      />and generally tinkering around with code
    </h2>
    <div id="html5" class="absolute">
      <img src="./html5.webp" alt="html5 logo" height="175" width="175" />
    </div>
    <div id="css3" class="absolute">
      <img
        id="img-css3"
        src="./css3.webp"
        alt="css3 logo"
        height="175"
        width="175"
      />
    </div>
    <div id="typescript" class="absolute">
      <img
        id="img-typescript"
        src="./typescript.webp"
        alt="typescript logo"
        height="175"
        width="175"
      />
    </div>
  </div>
</Page>

<style>
  h1 {
    margin-top: 12rem;
    font-size: var(--font-size-4xl);
    text-align: center;
    color: hsl(var(--white));
  }
  h2 {
    text-align: center;
    animation-name: fadeUp;
    animation: fadeUp 1s ease-out 1300ms 1 forwards;
    opacity: 0%;
  }
  h1,
  h2 {
    backdrop-filter: blur(5px);
    z-index: 3;
  }
  @media (max-width: 500px) {
    h1 {
      margin-top: 9rem;
      font-size: var(--font-size-3xl);
    }
    h2 {
      font-size: var(--font-size-xl);
    }
  }
  .background {
    height: calc(100vh - var(--navbar-height));
    width: 100%;
    background-image: url("./grid-s.webp");
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-size: cover;
  }
  @media (min-width: 700px) {
    .background {
      background-image: url("./grid.webp");
    }
  }
  #html5 {
    top: 0%;
    left: 20%;
  }
  #css3 {
    top: 7.5%;
    right: 15%;
  }
  #typescript {
    bottom: 10%;
    right: 35%;
  }
  @media (max-width: 700px) {
    #html5 {
      left: 0%;
    }
    #css3 {
      right: 0%;
    }
    #typescript {
      bottom: 20%;
      right: 15%;
    }
  }

  @keyframes fadeUp {
    from {
      transform: translateY(35px);
    }
    to {
      opacity: 100%;
      transform: translateY(0);
    }
  }
</style>

<script defer is:inline>
  function main() {
    if (window.innerWidth <= 500) {
      return;
    }
    function video(name) {
      return `<video autoplay loop muted playsinline style="height:175px; width=175px;">
  <source src="${name}.webm" type="video/webm" />
  <source src="${name}.mp4" type="video/mp4" />
</video>`;
    }
    const html5 = document.querySelector("#html5");
    if (html5) {
      html5.innerHTML = video("html5");
    }
    const css3 = document.querySelector("#css3");
    if (css3) {
      css3.innerHTML = video("css3");
    }
    const typescript = document.querySelector("#typescript");
    if (typescript) {
      typescript.innerHTML = video("typescript");
    }
  }

  main();
</script>
