---
import Page from "@layouts/Page.astro";
---

<Page title="Attribution">
  <div class="fixed mx-auto">
    <h1>Attribution</h1>
    <p>
      A big thank you to all of the people that make and contribute to these
      resources that allow me to make the things I make better! :)
    </p>
    <h2>Images</h2>
    <ul>
      <li>
        <a target="_blank" href="https://devicon.dev/">DevIcons</a> - For mostly
        all of the language and frameworks icons
        <ul>
          <li>
            Other language and framework icons that were not available were
            copied from their respective docs
          </li>
        </ul>
      </li>
      <li>
        <a target="_blank" href="https://lucide.dev/">Lucide Icons</a> - For all
        general use icons on the site
      </li>
      <li>
        <a target="_blank" href="https://commons.wikimedia.org/wiki/Main_Page"
          >Wikimedia Commons</a
        >:
        <ul>
          <li>
            Chess King - <a
              target="_blank"
              href="https://commons.wikimedia.org/wiki/File:Chess_klt45.svg"
              >Chess klt45</a
            > by <a
              target="_blank"
              href="https://en.wikipedia.org/wiki/User:Cburnett"
              >User:Cburnett</a
            > / <a
              target="_blank"
              href="https://commons.wikimedia.org/wiki/Main_Page"
              >Wikimedia Commons</a
            > is licensed under <a
              target="_blank"
              href="https://creativecommons.org/licenses/by-sa/3.0/deed.en"
              >CC BY-SA 3.0</a
            > and modified by me
          </li>
          <li>
            <a
              target="_blank"
              href="https://commons.wikimedia.org/wiki/File:Progressive_Web_Apps_Logo.svg"
            >
              Progressive Web Apps Logo
            </a> by Diego González-Zúñiga is licensed under <a
              target="_blank"
              href="https://creativecommons.org/publicdomain/zero/1.0/deed.en"
              >CC0</a
            >
          </li>
          <li>
            Tmux Logo, Copyright © 2015, Jason Long -
            <a
              target="_blank"
              href="https://commons.wikimedia.org/wiki/File:Tmux_logo.svg"
              >Tmux Logo</a
            > by Jason Long is licensed under <a
              target="_blank"
              href="https://en.wikipedia.org/wiki/ISC_license">ISC</a
            > and modified by me
          </li>
        </ul>
      </li>
      <li>
        <a target="_blank" href="https://webcomponents.github.io/assets/"
          >Web Components Logo</a
        > by WebComponents.org contributors
      </li>
    </ul>
  </div>
</Page>

<style>
  ul {
    padding-top: var(--spacing-3);
    li {
      padding-top: var(--spacing-3);
      color: hsl(var(--grey-100));
      a {
        color: hsl(200, 100%, 70%);
      }
    }
  }
</style>
