---
import Card from "@components/Card.astro";

interface Props {
  title: string;
  colour: string;
}

const { title, colour } = Astro.props;
---

<Card colour={colour}>
  <div class="container h-100 self-stretch br-2 py-4 px-5">
    <h2 class="fs-m text-secondary pt-0 pb-5">{title}</h2>
    <ul class="list flex-column gap-3">
      <slot />
    </ul>
  </div>
</Card>

<style>
  .container {
    background-color: hsl(var(--grey-950));

    & .list {
      list-style: none;
      padding: 0;
    }
  }
</style>
