---
interface Props {
  title: string;
  href: string;
  image: {
    src: string;
    alt: string;
  };
}

const { title, href, image } = Astro.props;
---

<li class="link-card flex-row-center px-4 py-2">
  <a href={href} class="flex-row-center">
    <img src={image.src} alt={image.alt} height="100" width="100" />
    <h2 class="m-0">{title}</h2>
  </a>
</li>
<style>
  a {
    text-decoration: none;
  }
</style>
