---
interface Props {
  colour: string;
}

const { colour } = Astro.props;
---

<li
  class="card flex-column align-items-start br-3 h-100 border-box"
  style={`--border-colour: ${colour};`}
>
  <slot />
</li>
<style>
  li {
    list-style: none;

    &.card {
      border: var(--spacing-2) solid hsl(var(--grey-800));
      transition: border-color 0.1s ease-in-out;
      text-decoration: none;
      min-width: var(--card-width);

      --_blur: var(--spacing-3);
      &:is(:hover, :focus-within) {
        border-color: var(--border-colour);
        box-shadow:
          0 0 var(--_blur) var(--border-colour),
          inset 0 0 var(--_blur) var(--border-colour);
      }
    }
  }
</style>
