---
import type { Project, ProjectIds } from "src/types";
import Logo from "@components/Logo.astro";
import { projects } from "src/projects";

interface Props {
  projectId: ProjectIds;
  title: string;
}

const { projectId, title } = Astro.props;

const project: Project = projects.find(({ id }) => id === projectId)!;

const borderColour = project.colour;
---

<li>
  <a
    href=`/projects/${projectId}`
    class="card flex-row-center justify-center p-5 br-3 border-box pointer animated-border glow-effect"
    style={`--border-colour: ${borderColour};`}
  >
    <div class="flex-row-center gap-5">
      <Logo projectId={projectId} size="55" />
      <h2 class="fs-2xl m-0">{title}</h2>
    </div>
  </a>
</li>
<style>
  li {
    list-style: none;
    .card {
      position: relative;
      border: var(--spacing-1) solid hsl(var(--grey-800));
      transition: border-color 0.1s ease-in-out;
      text-decoration: none;
      min-width: var(--card-width);
      height: calc(var(--card-width) / 1.6);
      background-color: hsl(var(--grey-900));

      --blur: var(--spacing-3);

      &:is(:hover, :focus) {
        border-color: var(--border-colour);
        box-shadow:
          0 0 var(--blur) var(--border-colour),
          inset 0 0 var(--blur) var(--border-colour);
      }
    }
  }
</style>
