---
interface Props {
  href: string;
  disabled: boolean;
}
const { href, disabled } = Astro.props;
---

<a
  href={href}
  class="btn"
  aria-disabled={disabled}
  target="_blank"
  rel="noreferrer"
>
  <slot />
</a>

<style>
  & .btn {
    --_bg-color: hsl(var(--grey-900) / 0.5);
    display: flex;
    align-items: center;
    border-radius: var(--spacing-2);
    border: var(--spacing-1) solid hsl(var(--grey-800));
    text-decoration: none;
    padding: var(--spacing-3) var(--spacing-4);
    gap: var(--spacing-2);
    background-color: var(--_bg-color);
    transition: background-color 50ms linear;

    &:is(:hover, :focus-visible) {
      background-color: hsl(var(--grey-800));
    }

    &[aria-disabled="true"] {
      pointer-events: none;
      --_stripe-color: hsl(var(--grey-800) / 0.5);
      background-image: repeating-linear-gradient(
        135deg,
        var(--_bg-color),
        var(--_bg-color) var(--spacing-3),
        var(--_stripe-color) var(--spacing-3),
        var(--_stripe-color) var(--spacing-4)
      );
    }
  }
</style>
