---
const links: [href: string, label: string][] = [
  ["/", "Home"],
  ["/projects", "Projects"],
  ["/about", "About"],
];
---

<div id="navbar" class="pt-5 pb-7 pl-7">
  <nav class="flex-row-center relative ml-7 gap-7 no-transition">
    {
      links.map(([href, label]) => (
        <a href={href} class="px-4 pt-4 mt-2 pb-3">
          {label}
        </a>
      ))
    }
  </nav>
</div>
<style>
  #navbar {
    background: hsl(var(--grey-950));
    border-bottom: var(--spacing-1) solid hsl(var(--grey-900));
  }
  a {
    text-decoration: none;

    &.selected {
      font-weight: bold;
      color: hsl(var(--orange));
    }
  }
  nav {
    --underline-offset-width: 0;
    --underline-offset-x: 0;

    &::after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      width: var(--underline-offset-width);
      transform: translateX(var(--underline-offset-x));
      height: var(--spacing-1);
      transition: all 200ms ease-in-out;
      background-color: hsl(var(--orange));
    }

    &.no-transition::after {
      -webkit-transition: none !important;
      -moz-transition: none !important;
      -ms-transition: none !important;
      -o-transition: none !important;
      transition: none !important;
    }
  }
</style>
<script>
  const currentlySelectedOption = document.querySelector(
    `nav > a[href='/${window.location.pathname.split("/")[1]}']`,
  ) as HTMLElement;

  currentlySelectedOption.classList.add("selected");

  const navbar = document.querySelector("nav")!;

  function resetUnderline() {
    moveUnderlineToElement(currentlySelectedOption);
  }

  resetUnderline();

  navbar.addEventListener("mouseleave", resetUnderline);
  navbar.addEventListener("focusout", resetUnderline);

  function moveUnderlineToElement(el: HTMLElement) {
    navbar.style.cssText = `--underline-offset-width: ${el.offsetWidth}px; --underline-offset-x: ${el.offsetLeft}px;`;
  }

  function onNavOptionHover(event: Event) {
    moveUnderlineToElement(event.target as HTMLElement);
  }

  const navbarOptions = document.querySelectorAll("nav > a");
  navbarOptions.forEach((option) => {
    option.addEventListener("mouseover", onNavOptionHover);
    option.addEventListener("focus", onNavOptionHover);
  });

  setTimeout(() => {
    navbar.classList.remove("no-transition");
  }, 0);
</script>
