---
import type { TechnologyId } from "src/data";
import TechnologyIcon from "./TechnologyIcon.astro";

interface Props {
  technologies: TechnologyId[];
  size?: number;
  spacing?: number;
}

const { technologies, size, spacing } = Astro.props;
---

{
  technologies.length > 0 && (
    <div class={`flex-row-center flex-wrap gap-${spacing ?? 3}`}>
      {technologies.map((technologyId) => (
        <TechnologyIcon technologyId={technologyId} size={size} />
      ))}
    </div>
  )
}
