---
import type { TechnologyId } from "src/types";
import { technologyFromId } from "src/technologies";
import Logo from "./Logo.astro";

interface Props {
  technologies: TechnologyId[];
  size?: number;
  spacing?: number;
}

const { technologies, size, spacing } = Astro.props;
---

{
  technologies.length > 0 && (
    <div class={`flex-row-center flex-wrap gap-${spacing ?? 3}`}>
      {technologies.map((technologyId) => {
        const technology = technologyFromId[technologyId];
        return (
          <a
            target="_blank"
            class="flex-row-center m-0"
            href={technology.link}
            title={technology.name}
          >
            <Logo id={technologyId} size={size ?? 30} />
          </a>
        );
      })}
    </div>
  )
}
