---
import Card from "@components/Card.astro";
import Page from "@layouts/Page.astro";
import { projects } from "src/projects";
---

<Page title="Adam Smith">
  <div class="container fixed">
    <h1>Projects</h1>
    <ul role="list" class="link-card-grid align-items-center gap-3 p-0">
      {
        projects.map((project) => (
          <Card projectId={project.id} title={project.name} />
        ))
      }
    </ul>
  </div>
  <style>
    .container {
      --card-width: 17rem;
      min-width: var(--card-width);

      .link-card-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(var(--card-width), 1fr));
        align-items: stretch;
      }
    }
  </style>
</Page>
